.fotoku{
    border-radius: 50%;
    margin: 15px auto;
    display: block;
    border: solid 5px rgba(0, 0, 0, 0.801);
    box-shadow: 0 0 10px rgb(103, 225, 255);
    height: 200px;
    width: 200px;
    object-fit: cover;
}