.fotoku{
    border-radius: 50%;
    margin: 15px auto;
    display: block;
    border: solid 5px rgba(0, 0, 0, 0.801);
    box-shadow: 0 0 10px #9F1239;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

h2 {
    margin-top: 1rem;
    /* Ini bisa menyebabkan jarak yang tidak diinginkan */
}